name: Renovate

on:
  # Run on the first day of every month at 3:00 AM UTC
  schedule:
  - cron: "0 3 1 * *"
  workflow_dispatch: {}

jobs:
  renovate:
    runs-on: ubuntu-latest
    steps:
    - name: Checkout
      uses: actions/checkout@v4

    - name: Self-hosted Renovate
      uses: renovatebot/github-action@v40.3.2
      with:
        configurationFile: .github/renovate.json
        token: ${{ secrets.RENOVATE_TOKEN }}
      env:
        LOG_LEVEL: info
